# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [121]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to check these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [122]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Challenge Deliverable 1. Generate a Ride-Sharing DataFrame by City Type

In [123]:
#  1. Get the total rides for each city type
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]

urban_ride_total = urban_ride_count.sum()
suburban_ride_total = suburban_ride_count.sum()
rural_ride_total = rural_ride_count.sum()

In [124]:
# 2. Get the total drivers for each city type

urban_driver_count = urban_cities_df.groupby(["city"]).count()["driver_count"]
suburban_driver_count = suburban_cities_df.groupby(["city"]).count()["driver_count"]
rural_driver_count = rural_cities_df.groupby(["city"]).count()["driver_count"]

#urban_driver_total = urban_driver_count.sum()
#suburban_driver_total = suburban_driver_count.sum()
#rural_driver_total = rural_driver_count.sum()

urban_cities_unique_df = urban_cities_df.drop_duplicates(subset=["city"])
suburban_cities_unique_df = suburban_cities_df.drop_duplicates(subset=["city"])
rural_unique_cities_df = rural_cities_df.drop_duplicates(subset=["city"])

urban_driver_total = urban_cities_unique_df.sum()["driver_count"]
suburban_driver_total = suburban_cities_unique_df.sum()["driver_count"]
rural_driver_total = rural_cities_unique_df.sum()["driver_count"]

In [125]:
#  3. Get the total amount of fares for each city type

urban_total_fare = float(urban_cities_df.sum()["fare"])
suburban_total_fare = float(suburban_cities_df.sum()["fare"])
rural_total_fare = float(rural_cities_df.sum()["fare"])

In [126]:
#  4. Get the average fare per ride for each city type. 
urban_avg_fare_per_ride = float((urban_total_fare/urban_ride_total))
suburban_avg_fare_per_ride = float((suburban_total_fare/suburban_ride_total))
rural_avg_fare_per_ride = float((rural_total_fare/rural_ride_total))

In [127]:
# 5. Get the average fare per driver for each city type.
urban_avg_fare_per_driver = float((urban_total_fare/urban_driver_total))
suburban_avg_fare_per_driver = float((suburban_total_fare/suburban_driver_total))
rural_avg_fare_per_driver = float((rural_total_fare/rural_driver_total))

In [128]:
#  6. Create a PyBer summary DataFrame. 
summary_dict = {'Type': ["Rural", "Suburban", "Urban"],'Total Rides': [rural_ride_total, suburban_ride_total, urban_ride_total], 'Total Drivers': [rural_driver_total, suburban_driver_total, urban_driver_total], 'Total Fares': [rural_total_fare, suburban_total_fare, urban_total_fare], 'Average Fares Per Ride': [rural_avg_fare_per_ride, suburban_avg_fare_per_ride, urban_avg_fare_per_ride], 'Average Fares Per Driver': [rural_avg_fare_per_driver, suburban_avg_fare_per_driver, urban_avg_fare_per_driver]}
pyu = pd.DataFrame(data=summary_dict)
pyber_summary_df = pyu.set_index('Type')

In [129]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [130]:
#  8. Format the columns.
pyber_summary_df['Total Fares'] = pyber_summary_df['Total Fares'].map('${:,.2f}'.format)
pyber_summary_df['Average Fares Per Ride'] = pyber_summary_df['Average Fares Per Ride'].map('${:,.2f}'.format)
pyber_summary_df['Average Fares Per Driver'] = pyber_summary_df['Average Fares Per Driver'].map('${:,.2f}'.format)
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fares Per Ride,Average Fares Per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,1625,2405,"$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [93]:
# Print the merged DataFrame for reference.

In [ ]:
# 1. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 2. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 3. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 4. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-28'.

In [ ]:
# 5. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 6. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 7. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')